!!!
%html{"data-wf-site" => "52d57dbd99d56cd406000c8f"}
  %head
    %meta{charset: "utf-8"}/
    %title Slate Template
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "css/normalize.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/webflow.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/zomg.webflow.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"}
      :javascript
        WebFont.load({
          google: {
            families: ["Montserrat:400,700","Bitter:400,700"]
          }
        });
    :javascript
      if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    %link{href: "https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    /[if lt IE 9] <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    %link{href: "https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png", rel: "apple-touch-icon"}/
  %body
    %header.section
      .w-container
        .w-row
          .w-col.w-col-4.subfooter-left
            .app-name LANGLISH
          .w-col.w-col-8.nav-column
            %a.nav-link{href: "#page-nav-organize", target: "_self"} TRANSLATE
            %a.nav-link{href: "#page-nav-display", target: "_self"} ABOUT
            %a.nav-link{href: "#page-nav-share", target: "_self"} CONTACT
    .section.hero
      .w-container
        .w-row
          .w-col.w-col-6
            %h1.hero-header
              Pick a translation 
            .w-form
              %form{"data-name" => "Email Form", name: "post[email-form]", action: "post"}
                %select.w-select{"id"=>"translation-select", "data-name" => "Pick a translation", name: "pick-a-translation", required: "required"}
                  %option{value: ""} Select one...
                  %option{value: "BartSimpson"} Bart Simpson
                  %option{value: "FlipTalk"} FlipTalk
                  %option{value: "Flinstone"} Fred Flinstone
                %textarea#langlish-input.w-input{placeholder: "Please enter your text"}
                %textarea#langlish-output.w-input{placeholder: "Your new text will show here"}
              .w-form-done
                %p Thank you! Your submission has been received!
              .w-form-fail
                %p Oops! Something went wrong while submitting the form :(
            %a#transform-text.button
              Transform it!
            %p
          .w-col.w-col-6.call-to-action
    #page-nav-organize.section.white
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    %script{src: "js/webflow.js", type: "text/javascript"}
    %script{src: "js/langlish.js", type: "text/javascript"}
